{
    "presets": [
        [
            "next/babel", {
                "preset-env": {
                    "corejs": "3",
                    "useBuiltIns": "entry"
                }
            },
            "linaria/babel"
        ]
    ]
}