{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    "useBuiltIns": false,
                    "targets": "Chrome >= 60, Safari >= 10.1, iOS >= 10.3, Firefox >= 54, Edge >= 80"
                }
            },
            "linaria/babel"
        ]
    ]
}