{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": [
    "eslint:recommended",
    "p5js",
    "p5js/dom",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "no-console": "off",
    "no-unused-vars": "warn",
    "arrow-parens": [1, "as-needed"]
  },
  "globals": {
    "p5": true,
    "preload": true,
    "setup": true,
    "draw": true,
    "mousePressed": true,
    "mouseMoved": true,
    "mouseDragged": true,
    "mouseReleased": true,
    "mouseClicked": true,
    "doubleClicked": true,
    "windowResized": true,
    "touchStarted": true,
    "touchMoved": true,
    "touchEnded": true,
    "loadShader": true,
    "shader": true
  }
}
