{
  "extends": [
      "p5js",
      "p5js/dom",
      "p5js/sound"
  ],
  "parserOptions": {
      "ecmaVersion": 2017,
      "ecmaFeatures": {
            "jsx": true
        }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [
      2,
      "functions"
    ],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 1,
    "no-fallthrough": 2,
    "no-octal": 2,
    "no-redeclare": [
      2,
      {
        "builtinGlobals":true
      }
    ],
    "no-self-compare": 1,
    "no-undefined": 1,
    "no-delete-var": 2,
    "no-label-var": 1,
    "no-shadow": 1,
    "comma-spacing": [
      1,
      {
        "after":true
      }
    ],
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": [
      1,
      "smart-tabs"
    ],
    "semi": [
      1,
      "always"
    ],
    "space-before-function-paren": [
      1,
      "never"
    ],
    "space-infix-ops": [
      2,
      {
        "int32Hint":true
      }
    ],
    "wrap-regex": 2,
    "arrow-parens": [
      1,
      "as-needed"
    ],
    "arrow-spacing": [
      1,
      {
        "before":true,"after":true
      }
    ],
    "no-const-assign": 2,
    "prefer-const": 1,
    "prefer-spread": 1
  }
}
