# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
.linaria-cache/
.netlify/
/build

# misc
.DS_Store

# debug
npm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local Netlify folder
.netlify