body {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  max-width: max-content;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

h1::selection, span.stretch::selection, h2::selection, h3::selection, p::selection, a::selection {
  background: #f4cb3d;
}

a, a:visited {
  text-decoration: none;
  color: #333;
  display: inline-block;
  background-color: #eee;
  background-color: rgb(225, 225, 225, 0.8);
  padding: 0 0.1em;
  line-height: normal;
}

a:hover {
  color: #fff;
  background-color: #333;
}

html.dark body {
  color: #fff;
  background-color: #212121;
}

html.dark a {
  color: #fff;
  background-color: #4a4a4a;
}

html.dark a:hover {
  color: #212121;
  background-color: #eee;
}

html.dark header p a {
  text-decoration: underline;
  background-color: initial;
}

.home-content {
  margin: 45px;
}

.home-content.hide {
  display: none;;
}

header {
  margin-bottom: 40px;
}

header h1 {
  transform: scale(1.05, 1);
  transform-origin: left;
  margin-block-end: 0.5em;
}

header a {
  text-decoration: underline;
  background-color: initial;
}

.sketch-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 75vh;
  width: max-content;
  justify-content: flex-start;
}

.sketch-list a {
  margin: 0 1em 1em 0;
  width: max-content;
  cursor: pointer;
}

footer {
  display: none;
  position: fixed;
}

footer.show {
  display: block;
}

footer a {
  position: fixed;
  --edgeMargin: 40px;
}

footer a.home {
  bottom: var(--edgeMargin);
  left: var(--edgeMargin);
  cursor: pointer;
}

footer a.code {
  bottom: var(--edgeMargin);
  right: var(--edgeMargin);
}

canvas {
  position: fixed;
  z-index: -1;
}

@media (max-width: 769px) {
  body {
    font-size: 13px;
  }
  .home-content {
    margin: 30px;
  }
  header {
    margin-bottom: 30px;
  }
  footer {
    --edgeMargin: 30px;
  }
}
