:root {
    --white: #ffffff;
    --offWhite: #eeeeee;
    --offWhiteHover: #cacaca;
    --grey: #4a4a4a;
    --offBlack: #212121;
    --edgeButtonMargin: clamp(28px, 3vw, 40px);
}

@font-face {
    font-family: "Fleuron";
    font-weight: normal;
    font-display: block;
    src: url("/static/fonts/fleuronregular.woff2");
}

* {
    margin: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: "Fleuron", helvetica, arial, sans-serif;
    line-height: 1.2;
    color: var(--white);
    background-color: var(--offBlack);
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    max-width: max-content;
    margin: 0;
    padding: 0;
    height: 100vh;
    height: -webkit-fill-available;
    overflow-y: hidden;
}

h1 {
    font-size: clamp(3rem, 4vw, 3.4rem);
    font-weight: 400;

}

h1 a {
    font-family: inherit;
    text-decoration: underline;
    background-color: initial;

}

h1 a:hover {
    background-color: var(--offWhite);
}

a,
a:visited,
button {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-size: inherit;
    text-decoration: none;
    display: inline-block;
    color: var(--white);
    background-color: var(--grey);
    border: none;
    padding: 0 0.1em;
    cursor: pointer;
    line-height: normal;
}

:is(a, a:visited, button):hover {
    color: #212121;
    background-color: var(--offWhite);
}

#p5_loading {
    display: none;
}
