@font-face {
    font-family: "Untitled Sans";
    font-weight: normal;
    font-display: block;
    src: url("fonts/UntitledSansWeb-Regular.woff2")
}

@font-face {
    font-family: "Untitled Sans";
    font-weight: bold;
    font-display: block;
    src: url("fonts/UntitledSansWeb-Medium.woff2")
}

body {
    font-family: "Untitled Sans", helvetica neue, helvetica, arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #ffffff;
    background-color: #212121;
    -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    max-width: max-content;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

*::selection {
    color: #f4cb3d;
}

a, a:visited {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #4a4a4a;
    background-color: rgb(85, 85, 85, 0.7);
    padding: 0 0.1em;
    line-height: normal;
}

a:hover {
    color: #212121;
    background-color: #eee;
}

.home-page,
.fourohfour-page {
    margin: 25px 40px;
}

.page {
    display: none;
}

header {
    margin-bottom: 35px;
    width: max-content;
    transform: scale(1.02, 1);
    transform-origin: left;
}

header h1 {
    margin-block-end: 0.5em;
    white-space: nowrap;
    font-size: 3em;
    font-weight: bold;
    margin-right: 1em;
}

header a {
    text-decoration: underline;
    background-color: initial;
}

.sketch-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: calc(100vh - 155px);
    width: max-content;
    justify-content: flex-start;
}

.sketch-list a {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    margin: 0 1em 1em 0;
    width: max-content;
    font-variant-numeric: tabular-nums;
    cursor: pointer;
}

a.home-link {
    cursor: pointer;
}

.sketch-page {
    position: fixed;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) scale(1.05, 1);
    transform-origin: center;
    margin-block-start: 0;

    font-size: 6em;
    font-weight: bold;
    letter-spacing: -1px;
    color: #61616175;
    text-transform: uppercase;
}

.sketch-page a {
    position: fixed;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    --edgeMargin: 40px;
}

.sketch-page a::selection {
    color: #ffffff;
}

.sketch-page a.home-link {
    bottom: var(--edgeMargin);
    left: var(--edgeMargin);
}

.sketch-page a.code-link {
    bottom: var(--edgeMargin);
    right: var(--edgeMargin);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

canvas.not-full-screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: block;
}


@media (max-width: 769px) {
    body {
        font-size: 14px;
    }
    .home-page {
        margin: 18px 30px;
    }
    .sketch-list{
        max-height: calc(100vh - 200px);
    }
    header {
        margin-bottom: 30px;
    }
    header h1 {
        font-size: 2.36em;
    }
    .sketch-page a {
        --edgeMargin: 33px;
    }
    .sketch-page p.loading {
        font-size: 4em;
    }
}
